html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 0 0;
  font-family: helvetica;
  box-sizing: border-box!important;
}

h1, h2, h3, h4, h5, h6, p, a, label, watermark, input {
  font-family: 'Rajdhani', sans-serif;
  color: #222;
}

h3 {
  font-size: 1.75em;
}

a {
  color: #ce3d2b;
}

.button {
  padding: 10px 30px;
  border-radius: 5px;
  border-width: 5px;
  background-color: #ce3d2b;
  color: #ffffff;
  box-sizing: border-box;
  transition: .3s all;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-family: inherit;
  vertical-align: middle;
  position: relative;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}

.button i {
  position: relative;
  margin-right: -10px;
}

.button:hover {
  box-shadow: 0px 15px 40px rgba(0,0,0,0.3);
  transition: .3s all;
  padding: 10px 39px 10px 21px;
  background: #ce2d1b;
}

.button .fas.fa-angle-right:before {
  vertical-align: middle;
  display: inline-block; 
  position: relative;
  transition: .3s all;
  left: -10px;
  opacity: 0;
}

.button:hover .fas.fa-angle-right:before {
  display: inline-block;
  position: relative;
  transition: .3s all;
  left: 10px;
  opacity: 1;
}

img {
  display: block;
}

.header {
  padding: 20px;
  width: 100%;
  background: #fff;
  position: relative;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
}

.header .logo, .header .logo img {
  box-sizing: border-box;
  max-width: 150px;
  height: auto;
  float: left;
  display: block;
}

.header .navigation {
  display: flex;
  vertical-align: middle;
  width: 100%;
}

.header .navigation ul {
  margin: auto 0px auto auto;
  padding: 0px;
  width: fit-content;
}

.header .navigation li {
  display: inline-block;
  margin: auto;
  margin-left: 20px;
  text-transform: uppercase;
}

.header .navigation a {
  color: #ce3d2b;
}

.nav-cta {
  padding: 10px 30px;
  background-color: #ce3d2b;
  color: #fff;
  border-radius: 5px;
  border-width: 5px;
  box-sizing: border-box;
  transition: .3s all;
}

.nav-cta:hover {
  background-color: #ce2d1b;
  transition: .3s all;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: none;
  background-color: rgba(0,0,0,.4);
  transition: .3s all;
}

.modal-content {
  background: #fff;
  padding: 20px;
  width: 600px;
  margin: auto;
  transition: .3s all;
}

.modal-content h3 {
  text-align: center;
}

.modal-content input {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
}

.modal-content input[type=text], .modal-content input[type=email], .modal-content input[type=textarea] {
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-content input[type=text]:focus, .modal-content input[type=email]:focus {
  border-color: #ccc;
}

.modal-content input[type=submit] {
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #ce3d2b;
  border: 0px solid #ce3d2b;
  color: #ffffff;
  box-sizing: border-box;
  transition: .3s all;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}

.modal-content input[type=submit]:hover {
  box-shadow: 0px 15px 40px rgba(0,0,0,0.3);
  transition: .3s all;
  padding: 10px 39px 10px 21px;
  background: #ce2d1b;
  border-color: #ce2d1b;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 30px;
  transition: .3s all;
  position: relative;
  top: -17px;
}

.close-modal:focus, .close-modal:hover {
  color: #000;
  text-decoration: none;
  transition: .3s all;
  cursor: pointer;
}

.atf-hero {
  min-height: 75vh;
  background: linear-gradient(30deg, rgba(168,138,212,.5),rgba(255,198,135,.3)), url(https://images.pexels.com/photos/590478/pexels-photo-590478.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  box-sizing: border-box;
  padding: 100px 20px;
}

.atf-hero .hero-text {
  margin: auto;
  display: block;
  text-align: center;
  color: #ffffff;
}

.atf-hero .hero-text {
  color: #ffffff;
}

.atf-hero h1 {
  font-size: 4rem;
  color: #ffffff;
}

.atf-hero h2 {
  font-size: 2rem;
  color: #ffffff;
}

.atf-hero .hero-text h1::after {
  content: '';
  width: 30px;
  height: 5px;
  top: 10px;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  display: block;
  margin: auto;
  transition: .3s all;
}

.atf-hero:hover .hero-text h1::after {
  content: '';
  width: 100%;
  height: 5px;
  top: 10px;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  display: block;
  margin: auto;
  transition: .3s all;
}

.hero-text {
  align-items: middle;
  display: flex;
}

.btf-about {
  padding: 100px 20px;
}

.btf-about .about-content {
  max-width: 1170px;
  margin: auto;
}

.btf-about .about-content .heavy-industries {
  width: fit-content;
}

.btf-about .about-content h3::after {
  content: '';
  width: 30px;
  height: 5px;
  top: 10px;
  border-radius: 5px;
  background-color: #222;
  position: relative;
  display: block;
  transition: .3s all;
}

.btf-about:hover .about-content h3::after {
  width: 100%;
}

.btf-0 {
  padding: 160px 20px;
  background: linear-gradient(90deg,rgba(255,255,255,.7), rgba(255,255,255,.7)), url(https://images.pexels.com/photos/402028/pexels-photo-402028.jpeg);
  background-size: cover;
  background-position: center;
  transition: .6s all;
}
/*
.btf-0:hover {
  background: linear-gradient(90deg,rgba(215,255,255,.8), rgba(255,115,255,.9)), url(https://images.pexels.com/photos/402028/pexels-photo-402028.jpeg);
  background-size: cover;
  background-position: center;
  transition: .6s all;
}
*/
.btf-0 .value-props {
  margin: auto;
}

.btf-0 .list-of-props {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 980px) {
.btf-0 .list-of-props {
  display: inline-flex;
  justify-content: space-between;
}
  
.btf-0 .value-props li {
  width: calc(33.3333% - 15px);
}
  
.btf-0 .value-props li:nth-child(1) {
  transform: translateY(-45px);
}

.btf-0 .value-props li:nth-child(3) {
  transform: translateY(45px);
}
}

@media screen and (max-width: 979px) {
  .btf-0 .prop {
    margin-bottom: 30px;
  }
  .btf-0 .list-of-props:nth-last-child(n) {
    margin-bottom: 0px;
  }
  .btf-0 {
    padding: 100px 20px;
  }
}

.btf-0 .value-props {
  max-width: 1170px;
  margin: auto;
}

.btf-0 .prop {
  padding: 0px;
  background: #ffffff;
  border-radius: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: #f1f1f1;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
  height: 100%;
  transition: .3s all;
}

.btf-0 .prop:hover {
  box-shadow: 0px 15px 40px rgba(0,0,0,0.3);
  transition: .3s all;
}

.btf-0 .prop-start {
  padding: 20px;
  background: #f1f1f1;
}

.btf-0 .prop-start h4:after {
  content: '';
  width: 30px;
  height: 5px;
  border-radius: 5px;
  margin-top: 10px;
  transition: .3s all;
  display: block;
  background: #ccc;
}

.btf-0 .prop:hover .prop-start h4:after {
  /* width: 100%; */
  transition: .3s all;
}

.btf-0 .prop-start h4 {
  margin: 0px;
  color: #ce3d2b;
}

.btf-0 .prop-body {
  padding: 20px;
}

.btf-0 .prop p {
  margin: 0px;
}

.fas .fa-angle-right {
  transition: .3s all;
}

.arrow-button {
  color: #fff;
  padding: 10px 20px;
  background: #ce3d2b;
  border-radius: 5px;
  width: fit-content;
  transition: .3s all;
  position: relative;
  display: block;
  margin: 10px 0px;
}

.arrow-button:hover {
  transition: .3s all;
  text-align: right;
  width: auto;
}

.stack img {
  width: 100%;
}

@media screen and (min-width: 980px) {
  .btf-1 {
    padding: 0px;
    background: #f1f1f1;
  }
    
  .stack {
    max-width: 100%;
    margin: auto;
    overflow: auto;
  }
    
  .stack-left .img-box {
    width: 50%;
    float: left;
  }
    
  .stack-left .text-box {
    width: 50%;
    padding: 20px;
    float: right;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
  }
    
  .stack-right .img-box {
    width: 50%;
    float: right;
  }
    
  .stack-right .text-box {
    width: 50%;
    padding: 20px;
    float: left;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
  }
  
  .stack-left {
    display: flex;
    overflow: auto;
  }
  
  .stack-right {
    overflow: auto;
    display: flex;
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 979px) { 
  .btf-1 {
    padding: 100px 20px;
    background: #f1f1f1;
  }
}

.btf-2 {
  padding: 100px 20px;
  background: #ffffff;
  box-sizing: border-box;
  /* background: linear-gradient(90deg, rgba(0,0,0,.95), rgba(0,0,0,.95)), url('https://images.pexels.com/photos/239898/pexels-photo-239898.jpeg');
  background-size: cover;
  */
}

.btf-2 .main-container {
  max-width: 1170px;
  margin: auto;
  overflow: auto;
}

.btf-2 .main-container .image-skew {
  max-width: 50%;
  float: left;
}

.btf-2 img {
  max-width: 100%;
  /* position: absolute;
  transform: rotate(25deg) skew(-25deg,-15deg);
  box-shadow: 25px 10px 20px rgba(0,0,0,0.5); */
}

.btf-2 .text-box {
  width: 50%;
  float: right;
}

.btf-2 h5 {
  font-size: 2em;
  margin: 0px;
  text-transform: uppercase;
}

.btf-2 .number-title {
  overflow: auto;
  display: flex;
}

.btf-2 .number-border {
  border: 4px solid #cccccc;
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 100px;
  display: flex;
  text-align: center;
  vertical-align: middle;
  float: left;
  margin-right: 10px;
  transition: .3s all;
}

.btf-2 .number-border h5 {
  margin: auto;
  transition: .3s all;
}

.btf-2 .number-box-text-box {
    vertical-align: middle;
    margin: auto 0px;
}

.btf-2 h5, .btf-2 p {
  color: #cccccc;
  transition: .3s all;
}

.number-box:hover h5, .number-box:hover p, .number-box:hover .number-border {
  color: #222222;
  border-color: #222222;
  transition: .3s all;
}

@media screen and (max-width: 979px) {
  .btf-2 .image-skew, .btf-2 .text-box {
    display: block;  
  }
  
  .btf-2 .main-container .image-skew {
    width: 100%;
    max-width: 100%;
  }
  
  .btf-2 .text-box {
    width: 100%;
  }
}

.btf-3 {
  background: linear-gradient(45deg, rgba(75, 72, 97,.7), rgba(117, 45, 95, .7)), url('https://images.pexels.com/photos/2081166/pexels-photo-2081166.jpeg');
  background-position: center;
  background-size: cover;
  padding: 100px 20px;
}

.btf-3 .main-container {
  max-width: 1170px;
  margin: auto;
}

.btf-3 .main-container h3, .btf-3 .main-container p {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.btf-3 .logo-farm {
  padding: 20px;
  margin-top: 30px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
  background: #fff;
}

.btf-3 .logo-farm .grid-item {
  display: flex;
}

@media screen and (min-width: 980px) {
    .btf-3 .logo-farm .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
  }
  
  .btf-3 .logo-farm .grid-item img {
    max-width: 100%;
    max-height: 160px;
    margin: auto;
  }
}

@media screen and (max-width: 979px) {
  .btf-3 .logo-farm .grid-container {
    grid-template-columns: repeat(2, 2fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    display: grid;
  }
  .btf-3 .logo-farm .grid-item img {
    max-width: 100%;
    max-height: 120px;
    margin: auto;
  }
}

.btf-4 {
  background: #ffffff;
  box-sizing: border-box;
  padding: 100px 20px;
}

.btf-4 .main-container {
  max-width: 1170px;
  margin: auto;
  overflow: auto;
  box-sizing: border-box;
}

@media screen and (min-width: 980px) {
  .btf-4 .main-container .over-under-box {
    display: flex;
  }

  .btf-4 .main-container .image-underlay {
    width: 50%;
    position: relative;
    left: 50px;
  }

  .btf-4 .main-container .text-overlay {
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
    width: 50%;
    box-sizing: border-box;
    float: right;
    position: relative;
    z-index: 3;
    background: #fff;
    left: -50px;
    margin: auto;
  }
}

@media screen and (max-width: 979px) {
  .btf-4 .main-container .over-under-box {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .btf-4 .main-container img {
    border-radius: 5px 5px 0px 0px;
  }

  .btf-4 .main-container .image-underlay {
    margin-bottom: 20px;
  }

  .btf-4 .main-container .text-overlay {
    padding: 20px;
  }
}

.btf-4 .main-container .image-underlay {
  float: left;
}

.btf-4 .main-container .image-underlay img {
  width: 100%;
}

.footer {
  padding: 100px 20px;
  background: #222222;
}

.footer h3 {
  width: fit-content;
}

.footer h3::after {
  content: '';
  width: 30px;
  height: 5px;
  top: 10px;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  display: block;
  transition: .3s all;
}

.footer .grid-item:hover h3::after {
  width: 100%;
}

.footer .grid-container.outer, .footer .grid-container.inner {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media screen and (max-width: 979px) {
  .footer .grid-container.outer, .footer .grid-container.inner {
    display: block;
  }
}

.footer .main-container {
  max-width: 1170px;
  margin: auto;
}

.footer h3 {
  color: #ffffff;
}

.footer .social {
  list-style-type: none;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  display: flex;
}

.footer .social li {
  margin-right: 10px;
}

.footer .social a {
  text-decoration: none;
  text-align: center;
}

.footer .social .fab {
  border: 1px solid #ffffff;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  margin: auto;
  display: flex;
  text-decoration: none;
}

.footer .social i::before {
  margin: auto;
}

.footer p {
  color: #ffffff;
}

.footer .footer-link-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.footer .footer-link-list li {
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  transition: .3s all;
}

.footer .footer-link-list li a:hover {
  color: #cccccc;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  transition: .3s all;
}

.footer .social .fab:hover {
  color: #222222;
  border-color: #ffffff;
  background-color: #ffffff;
  transition: .3s all;
}

.footer input {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
}

.footer input[type=text], .footer input[type=email], .footer input[type=textarea] {
  border-radius: 5px;
  border: 0px solid #ccc;
}

.footer input[type=text]:focus, .footer input[type=email]:focus {
  border-color: #ccc;
}

.footer input[type=submit] {
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #ce3d2b;
  border: 0px solid #ce3d2b;
  color: #ffffff;
  box-sizing: border-box;
  transition: .3s all;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}

.footer input[type=submit]:hover {
  box-shadow: 0px 15px 40px rgba(0,0,0,0.3);
  transition: .3s all;
  padding: 10px 39px 10px 21px;
  background: #ce2d1b;
  border-color: #ce2d1b;
}